#container {
	width: 100%;
}

#header {
	text-align: center;
	border: solid;
	margin-bottom: 10px;
	border-radius: 10px;
}

#navigation {
	border: solid;
	border-radius: 10px;
	margin-bottom: 10px;
	position: sticky;
	top: 0;
	background-color: white;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding: 10px;
}

#navigation>a {
	text-decoration: none;
	color: black;
	padding: 10px;
}

#navigation>a:hover {
	background-color: lightgray;
}

#navigation>a:visited {
	color: black;
}

#article {
	border: solid;
	border-radius: 10px;
}

#article>iframe {
	width: 100%;
	border: none;
}

#article>iframe>iframe {
	width: 100%;
	border: none;
}

#footer {
	margin-top: 10px;
	border: solid;
	border-radius: 10px;
	position: sticky;
	bottom: 0;
	background-color: white;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
