#container {
	width: 100%;
}

#header {
	border: solid;
	margin-bottom: 10px;
	border-radius: 10px;
}

#sideBar {
	width: 20%;
	float: left;
	border: solid;
	border-radius: 10px;
	position: fixed;
}

#sideBar>ul {
	list-style: none;
}

#sideBar>ul>li>a {
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	color: black;
}

#sideBar>ul>li>a:hover {
	background-color: gray;
	cursor: pointer;
}

#sideBar>ul>li>a:visited {
	color: black;
}

#article {
	margin-left: 25%;
	width: 70%;
	border: solid;
	border-radius: 10px
}

#article>iframe {
	width: 100%;
	border: none;
}

#footer {
	margin-left: 25%;
	margin-top: 10px;
	border: solid;
	border-radius: 10px;
	width: 70%;
}